---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [academic, pdra]
    width: 5
    image: true
  - roles: [pgr]
    width: 5
    image: true
- - roles: [collab, pgt]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <picture>
      <source media="(max-width: 480px)" srcset="https://ik.imagekit.io/s1sp3stox/tr:w-1110,h-690,fo-none/compsci/research-and-impact/human-computer-interaction/header-image_2.jpg">
      <source srcset="https://ik.imagekit.io/s1sp3stox/tr:w-2405,h-748,fo-none/compsci/research-and-impact/human-computer-interaction/header-image_2.jpg">
      <img src="{{site.base}}/img/header-image_2.webp" alt="Example research projects from the Human-Computer Interaction Research Group">
    </picture>
  
    <p>
      Swansea University's Human-Computer Interaction (HCI) Research Group is based in purpose-built lab, study and maker facilities in the Computational Foundry. Founded in 2006 as the Future Interaction Technology Laboratory (FIT Lab), the group has grown to become internationally recognised as a world-leading centre for HCI research, forging collaborations with industry partners such as Microsoft Research, Google, BBC, IBM and NHS.

The goal of our research is to put people at the heart of technological innovation – to create platforms, devices and services that are not just functional, but usable, efficient and enjoyable. Much of our research involves working directly with end-users to study, plan, design and create new interactions appropriate for their contexts. HCI is a multidisciplinary field that spans beyond computer science into areas including psychology, sociology, health, ethnography, design, human factors, engineering and linguistics, and therefore our research involves a significant number of collaborations with other disciplines within the University and beyond.

Research councils and industry stakeholders have supported the majority of our work, including over £30M of EPSRC funding. These projects have enabled the group to make significant, recognised, world-leading impacts on the research community, ranging from theoretical frameworks to deep understandings of novel algorithms.
    </p>
</div>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
