<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3357223.3362725">Perceptual Compression for Video Storage and Processing Systems</a>.
			</span><br />
			<span class="authors">
				Amrita Mazumdar, Brandon Haynes, Magda Balazinska, Luis Ceze, Alvin Cheung, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the ACM Symposium on Cloud Computing (SoCC '19)</span>.
			<span class="note">
			Best Poster Award!.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
